div.target {
    .mat-form-field {
        width:80%;
        margin:0 auto;
        display:block
    }
}

div.pad {
    button {
        font-size:1.5em;
        font-weight: bold;
        width:65px;
        height:65px;
    }
}