<div *ngIf="(currentCall | async) as call; else nocall" class="content">

  <app-call-brief [call]="call" source="call"></app-call-brief>

  <div class="actions dtmf">
    <!--</div> *ngIf="call.living"> -->

    <button mat-icon-button [matMenuTriggerFor]="dtmfMenu" matTooltip="DTMF" matTooltipPosition="below">
      <mat-icon>dialpad</mat-icon>
    </button>
    <div>
      <mat-form-field class="example-form-field" floatPlaceholder="always">
        <input matInput type="text" readonly placeholder="Incoming DTMF" [ngModel]="(call.incomingDTMF | async)" />
      </mat-form-field>

      <mat-form-field class="example-form-field" floatPlaceholder="always">
        <input matInput type="text" readonly placeholder="OutGoing DTMF" [ngModel]="(call.outgoingDTMF | async)" />
      </mat-form-field>
    </div>
  </div>


  <div class="actions speaking">
    <div>
            <button mat-icon-button (click)="call.toggleMic()">
                <mat-icon *ngIf="call.micEnabled">mic</mat-icon>
                <mat-icon *ngIf="!call.micEnabled">mic_off</mat-icon>
            </button>
    </div>



    <button mat-icon-button (click)="sendSound(call, 'assets/hadouken.mp3')">
      <img class="emotclips" src="assets/hadouken.png" />
    </button>

    <button mat-icon-button (click)="sendSound(call, 'assets/chewbacca.mp3')">
      <img class="emotclips" src="assets/chewbacca.png" />
    </button>

    <button mat-icon-button (click)="sendSound(call, 'assets/haha.mp3')">
      <img class="emotclips" src="assets/haha.png" />
    </button>

    <button mat-icon-button (click)="sendSound(call, 'assets/badumtss.mp3')">
      <img class="emotclips" src="assets/badumtss.png" />
    </button>

    <button mat-icon-button (click)="sendSound(call, 'assets/deberes.mp3')">
      <img class="emotclips" src="assets/walter.png" />
    </button>

    <button mat-icon-button (click)="sendSound(call, 'assets/alataque.mp3')">
      <img class="emotclips" src="assets/chiquito.png" />
    </button>


    <mat-form-field>
      <input matInput [(ngModel)]='sentence' placeholder="What do you want to say?" (keyup.enter)="speak(call, sentence); sentence = '';"
      />
    </mat-form-field>
    <button mat-icon-button (click)="speak(call, sentence); sentence = '';" matTooltip="speak!" matTooltipPosition="below">
      <mat-icon>record_voice_over</mat-icon>
    </button>
  </div>



  <mat-menu #dtmfMenu="matMenu" class="dtmfMenu">
    <div mat-menu-item disableRipple>
      <button value="1" mat-mini-fab color="primary" (click)="call.sendDTMF('1', $event);">1</button>
      <button value="2" mat-mini-fab color="primary" (click)="call.sendDTMF('2', $event);">2</button>
      <button value="3" mat-mini-fab color="primary" (click)="call.sendDTMF('3', $event);">3</button>
    </div>
    <div mat-menu-item>
      <button value="4" mat-mini-fab color="primary" (click)="call.sendDTMF('4', $event);">4</button>
      <button value="5" mat-mini-fab color="primary" (click)="call.sendDTMF('5', $event);">5</button>
      <button value="6" mat-mini-fab color="primary" (click)="call.sendDTMF('6', $event);">6</button>
    </div>
    <div mat-menu-item>
      <button value="7" mat-mini-fab color="primary" (click)="call.sendDTMF('7', $event);">7</button>
      <button value="8" mat-mini-fab color="primary" (click)="call.sendDTMF('8', $event);">8</button>
      <button value="9" mat-mini-fab color="primary" (click)="call.sendDTMF('9', $event);">9</button>
    </div>
    <div mat-menu-item>
      <button value="*" mat-mini-fab color="primary" (click)="call.sendDTMF('*', $event);">*</button>
      <button value="0" mat-mini-fab color="primary" (click)="call.sendDTMF('0', $event);">0</button>
      <button value="#" mat-mini-fab color="primary" (click)="call.sendDTMF('#', $event);">#</button>
    </div>
  </mat-menu>

</div>


<ng-template #nocall>
  No call
</ng-template>
