
div.actions {
    text-align: center;
    width:85%;
    border:1px solid #dedede;
    margin: 2em auto;
    padding: 0.5em;
}


img.emotclips {
    width: 32px;
    height: 32px;
}

div.speaking {
    text-align: center;
    .mat-form-field {
        margin:1em;
        width:75%;
    }
}