<div *ngIf="(currentCall | async) as call; else nocall" class="content">

  <app-call-brief [call]="call"></app-call-brief>



  <div class="actions" *ngIf="call.living">

    <button mat-icon-button [matMenuTriggerFor]="dtmfMenu">
        <mat-icon>dialpad</mat-icon>
      </button>


      <button mat-icon-button (click)="playSound('assets/deberes.mp3')">
        <mat-icon>group_work</mat-icon>
      </button>

      <button mat-icon-button (click)="speak('Hola que tal')">
        <mat-icon>record_voice_over</mat-icon>
      </button>




    </div>


    <mat-menu #dtmfMenu="matMenu" class="dtmfMenu" disableRipple>
      <div mat-menu-item disableRipple>
        <button mat-mini-fab color="primary" (click)="call.sendDTMF('1', $event)">1</button>
        <button mat-mini-fab color="primary" (click)="call.sendDTMF('2', $event)">2</button>
        <button mat-mini-fab color="primary" (click)="call.sendDTMF('3', $event)">3</button>
      </div>
      <div mat-menu-item>
        <button mat-mini-fab color="primary" (click)="call.sendDTMF('4', $event)">4</button>
        <button mat-mini-fab color="primary" (click)="call.sendDTMF('5', $event)">5</button>
        <button mat-mini-fab color="primary" (click)="call.sendDTMF('6', $event)">6</button>
      </div>
      <div mat-menu-item>
        <button mat-mini-fab color="primary" (click)="call.sendDTMF('7', $event)">7</button>
        <button mat-mini-fab color="primary" (click)="call.sendDTMF('8', $event)">8</button>
        <button mat-mini-fab color="primary" (click)="call.sendDTMF('9', $event)">9</button>
      </div>
      <div mat-menu-item>
        <button mat-mini-fab color="primary" (click)="call.sendDTMF('*', $event)">*</button>
        <button mat-mini-fab color="primary" (click)="call.sendDTMF('0', $event)">0</button>
        <button mat-mini-fab color="primary" (click)="call.sendDTMF('#', $event)">#</button>
      </div>
    </mat-menu>







</div>


<ng-template #nocall>
  No call
</ng-template>
