div.actions {
    text-align: center;
}


img.emotclips {
    width: 32px;
    height: 32px;
}

div.speak {
    margin: 1em 0;
    text-align: center;
    .mat-form-field {
        width:320px;
    }
}