<div *ngIf="(call.status | async) as status" class="call">

  <mat-icon mat-list-icon class="statusIcon">{{ call.icon }}</mat-icon>
  <h4 mat-line class="ddi">
    {{ call.target }}
    <mat-icon class="direction" *ngIf="call.direction === 'IN'">arrow_back</mat-icon>
    <mat-icon class="direction" *ngIf="call.direction === 'OUT'">arrow_forward</mat-icon>
  </h4>
  <p *ngIf="status.type === 'active'" mat-line class="direction">
    <span *ngIf="(call.liveDuration | async) as duration">{{ duration | date:'HH:mm:ss':'utc' }}</span>
  </p>
  <p *ngIf="status.type === 'done'" mat-line>
    <span>{{ call.duration | date: 'HH:mm:ss': 'utc' }}</span>
  </p>


  <div *ngIf="call.living; else deadCall">

    <button *ngIf="call.direction === 'IN' && status.type === 'ringing'" mat-mini-fab color="primary" (click)="call.answer()">
      <mat-icon aria-label="answer">call</mat-icon>
    </button>

    <button *ngIf="status.type === 'active' || status.type === 'ringing'" mat-mini-fab color="warn" (click)="call.hangup()">
      <mat-icon aria-label="hangup">call_end</mat-icon>
    </button>


    <button *ngIf="status.type === 'active' && status.subtype === 'hold'" mat-mini-fab color="basic" (click)="call.unhold()">
      <mat-icon aria-label="hangup">call</mat-icon>
    </button>

    <button *ngIf="status.type === 'active' && status.subtype !== 'hold'" mat-mini-fab color="basic" (click)="call.hold()">
      <mat-icon>phone_paused</mat-icon>
    </button>
    <button class="call-details" *ngIf="source === 'list' && status.type === 'active'" mat-mini-fab [routerLink]="['/call', call.id]">
      <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="source === 'call'" mat-mini-fab [routerLink]="['/callslist']">
        <mat-icon>remove</mat-icon>
    </button>

  </div>
  <ng-template #deadCall>
    <button mat-mini-fab (click)="UA.call(call.target)">
      <mat-icon>call_in_talk</mat-icon>
    </button>
    <button *ngIf="source === 'call'" mat-mini-fab [routerLink]="['/callslist']">
        <mat-icon>remove</mat-icon>
    </button>
  </ng-template>
</div>
